<section class="block-plan block section-color">
  <h2 class="block__heading">pracing plans</h2>
  <div class="block__body grid grid--auto constraint">
    <div class="plan">
      <div class="plan__header">
        <h3 class="plan__heading">basic</h3>
        <img class="plan__img" src="images/hosting-basic.png" alt="" />
        <span class="plan__price">$15</span>
        <span class="plan__billing-cycle">Per Month</span>
      </div>

      <div class="plan__body">
        <ul class="list list--tick">
          <li class="list__item">10GB HDD Space</li>
          <li class="list__item">5 Email Addresses</li>
          <li class="list__item">2 Subdomains</li>
          <li class="list__item">4 Databases</li>
          <li class="list__item">Basic Support</li>
        </ul>
        <button class="btn btn--primary">choose plan</button>
      </div>
    </div>
    <!-- *** -->
    <div class="plan">
      <div class="plan__header">
        <h3 class="plan__heading">Advanced</h3>
        <img class="plan__img" src="images/hosting-advanced.png" alt="" />
        <span class="plan__price">$25</span>
        <span class="plan__billing-cycle">Per Month</span>
      </div>

      <div class="plan__body">
        <ul class="list list--tick">
          <li class="list__item">20GB HDD Space</li>
          <li class="list__item">10 Email Addresses</li>
          <li class="list__item">5 Subdomains</li>
          <li class="list__item">8 Databases</li>
          <li class="list__item">Advanced Support</li>
        </ul>
        <button class="btn btn--primary">choose plan</button>
      </div>
    </div>
    <!-- *** -->
    <div class="plan">
      <div class="plan__header">
        <h3 class="plan__heading">Professional</h3>
        <img class="plan__img" src="images/hosting-professional.png" alt="" />
        <span class="plan__price">$45</span>
        <span class="plan__billing-cycle">Per Month</span>
      </div>

      <div class="plan__body">
        <ul class="list list--tick">
          <li class="list__item">50GB HDD Space</li>
          <li class="list__item">20 Email Addresses</li>
          <li class="list__item">10 Subdomains</li>
          <li class="list__item">20 Databases</li>
          <li class="list__item">Professional Support</li>
        </ul>
        <button class="btn btn--primary">choose plan</button>
      </div>
    </div>
    <!-- *** -->
  </div>
</section>
