<section class="block-testimonials block section-color">
  <h2 class="block__heading">testimonials</h2>
  <div class="block__body grid grid--auto constraint">
    <div class="testimonial">
      <img src="images/avatar-01.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
    <div class="testimonial">
      <img src="images/avatar-02.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
    <div class="testimonial">
      <img src="images/avatar-03.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
    <div class="testimonial">
      <img src="images/avatar-04.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
    <div class="testimonial">
      <img src="images/avatar-05.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
    <div class="testimonial">
      <img src="images/avatar-06.png" alt="" />
      <h3 class="testimonial__heading">Mohamed Farag</h3>
      <span class="testimonial__job-title">Full Stack Developer </span>
      <div class="icon-rating">
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--gold filled fas fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
        <i class="icon icon--dark far fa-star"></i>
      </div>
      <p class="testimonial__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
        reiciendis voluptatum, amet est natus quaerat ducimus
      </p>
    </div>
    <!-- *** -->
  </div>
</section>
