<section class="block-features block">
  <h2 class="block__heading">features</h2>
  <div class="block__body grid grid--auto constraint">
    <div class="feature">
      <div class="feature__header">
        <img src="images/features-01.jpg" alt="" />
      </div>
      <div class="feature__body">
        <h3 class="feature__heading">Quality</h3>
        <p class="feature__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
          hic veniam eligendi minima
        </p>
        <a href="" class="btn btn--red">more</a>
      </div>
    </div>
    <!-- **** -->

    <div class="feature">
      <div class="feature__header">
        <img src="images/features-02.jpg" alt="" />
      </div>
      <div class="feature__body">
        <h3 class="feature__heading">Time</h3>
        <p class="feature__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
          hic veniam eligendi minima
        </p>
        <a href="" class="btn btn--green">more</a>
      </div>
    </div>

    <!-- **** -->
    <div class="feature">
      <div class="feature__header">
        <img src="images/features-03.jpg" alt="" />
      </div>
      <div class="feature__body">
        <h3 class="feature__heading">Passion</h3>
        <p class="feature__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
          hic veniam eligendi minima
        </p>
        <a href="" class="btn btn--blue">more</a>
      </div>
    </div>
  </div>
</section>
