<section class="block-events block">
  <h2 class="block__heading">latest events</h2>

  <div class="block__body grid grid--1x2 constraint">
    <img src="images/events.png" alt="" />
    <div class="events">
      <div class="events__times">
        <div class="events__time">
          <span class="days">62</span>
          <span>Days</span>
        </div>
        <div class="events__time">
          <span class="hours">08</span>
          <span>Hours</span>
        </div>
        <div class="events__time">
          <span class="minutes">16</span>
          <span>Minutes</span>
        </div>
        <div class="events__time">
          <span class="seconds">17</span>
          <span>Seconds</span>
        </div>
      </div>
      <div class="events__info">
        <h3 class="events__heading">Tech Masters Event 2022</h3>
        <p class="events__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero
          tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi
          nulla in harum.
        </p>
      </div>
    </div>
  </div>
  <div class="block__footer constraint">
    <form class="input-group">
      <input class="input" type="text" placeholder="Enter Your Email here..." />
      <input class="btn" type="submit" value="subscribe" />
    </form>
  </div>
</section>
