<section class="block-videos block">
  <h2 class="block__heading">top videos</h2>
  <div class="block__body grid grid--1x2 constraint">
    <div class="videos-list">
      <div class="top-videos">
        Top videos
        <i class="icon icon--dark fas fa-random"></i>
      </div>
      <ul class="list list-block">
        <li class="list__item">How To Create Sub Domain <span>05:18 </span></li>
        <li class="list__item">Playing With The DNS <span>03:18 </span></li>
        <li class="list__item">
          Everything About The Virtual Hosts <span>05:25 </span>
        </li>
        <li class="list__item">
          How To Monitor Your Website <span>04:16 </span>
        </li>
        <li class="list__item">
          Uncharted Beating The Last Boss <span>07:48 </span>
        </li>
        <li class="list__item">
          Ys Oath In Felghana Overview<span>03:12</span>
        </li>
        <li class="list__item">
          Ys Series All Games Ending<span>08:10 </span>
        </li>
      </ul>
    </div>
    <div class="preview">
      <img src="images/video-preview.jpg" alt="" />
      <div class="preview__info">Everything About The Virtual Hosts</div>
    </div>
  </div>
</section>
