<section class="block-skilles block">
  <h2 class="block__heading">our skilles</h2>

  <div class="block__body grid grid--1x2 constraint">
    <img src="images/skills.png" alt="" />
    <div class="skills">
      <h4 class="skill__heading">HTML</h4>
      <div class="box-container box-container1">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">CSS</h4>
      <div class="box-container box-container2">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">javascript</h4>
      <div class="box-container box-container3">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">python</h4>
      <div class="box-container box-container4">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
