<section class="block-gallery block section-color Triangles">
  <h2 class="block__heading">gallery</h2>

  <div class="block__body grid grid--auto constraint">
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-01.png" alt="" />
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-02.png" alt="" />
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-03.jpg" alt="" />
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-04.png" alt="" />
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-05.jpg" alt="" />
      </div>
    </div>
    <div class="gallery">
      <div class="gallery__img">
        <img src="images/gallery-06.png" alt="" />
      </div>
    </div>
  </div>
</section>
