<header class="block-nav constraint">
  <a href="" class="nav__logo">Ishak</a>
  <ul class="list list--inline nav__list">
    <li class="list__item"><a href="" class="nav__link">Articles</a></li>
    <li class="list__item"><a href="" class="nav__link">Gallery</a></li>
    <li class="list__item"><a href="" class="nav__link">Features</a></li>
    <li class="list__item collapsible">
      <a class="nav__link">Other Links</a>
    </li>
    <div class="collapsible__content grid grid--1x2 grid--1x3">
      <div class="img">
        <img src="images/megamenu.png" alt="" />
      </div>

      <ul class="list">
        <li class="list__item">
          <a href=""><i class="icon far fa-comments fa-fw"></i> Testimonials</a>
        </li>
        <li class="list__item">
          <a href=""><i class="icon far fa-user fa-fw"></i> Team Members</a>
        </li>
        <li class="list__item">
          <a href=""><i class="icon far fa-building fa-fw"></i> Services</a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="icon far fa-check-circle fa-fw"></i> Our Skills</a
          >
        </li>
        <li class="list__item">
          <a href=""
            ><i class="icon far fa-clipboard fa-fw"></i> Hou It Workes</a
          >
        </li>
      </ul>
      <ul class="list">
        <li class="list__item">
          <a href=""><i class="icon far fa-calendar-alt fa-fw"></i> Events</a>
        </li>
        <li class="list__item">
          <a href=""><i class="icon fas fa-server fa-fw"></i> Pricing Plans</a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="icon far fa-play-circle fa-fw"></i> Top Videos</a
          >
        </li>
        <li class="list__item">
          <a href=""><i class="icon far fa-chart-bar fa-fw"></i> Stats</a>
        </li>
        <li class="list__item">
          <a href=""
            ><i class="icon fas fa-percent fa-fw"></i> Request A Discount</a
          >
        </li>
      </ul>
    </div>
  </ul>
</header>
