<section class="block-articles block">
  <h2 class="block__heading">articles</h2>

  <div class="block__body grid grid--auto constraint">
    <div class="media media--articles">
      <img src="images/cat-01.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-02.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-03.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-04.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-05.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-06.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-07.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--articles">
      <img src="images/cat-08.jpg" alt="" />
      <div class="media__body">
        <h3 class="media__heading">Test Title</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit
        </p>
      </div>
      <div class="link-arrow">
        <a href="#">read more</a>
        <i class="icon fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <!-- *** -->
  </div>
</section>
