<section class="block-work block section-color">
  <h2 class="block__heading">how it workes ?</h2>
  <div class="block__body grid grid--1x2 constraint">
    <img class="block-work__img" src="images/work-steps.png" alt="" />
    <div class="media-container">
      <div class="media media--flex">
        <img src="images/work-steps-1.png" alt="" />
        <div class="media__body">
          <h3 class="media__heading">Business Analysis</h3>
          <p class="media__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
            nesciunt obcaecati quisquam quis laborum recusandae debitis vel
          </p>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <img src="images/work-steps-2.png" alt="" />
        <div class="media__body">
          <h3 class="media__heading">Architecture</h3>
          <p class="media__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
            nesciunt obcaecati quisquam quis laborum recusandae debitis vel
          </p>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <img src="images/work-steps-3.png" alt="" />
        <div class="media__body">
          <h3 class="media__heading">Developement</h3>
          <p class="media__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
            nesciunt obcaecati quisquam quis laborum recusandae debitis vel
          </p>
        </div>
      </div>
      <!-- ** -->
    </div>
  </div>
</section>
