<section class="block-state block">
  <h2 class="block-state__heading">Our Awesome Stats</h2>

  <div class="block__body grid grid--auto constraint">
    <div class="media media--stats">
      <i class="icon icon--dark far fa-user fa-fw"></i>

      <div class="media__body">
        <h3 class="media__heading">150</h3>
        <p class="media__description">Clients</p>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--stats">
      <i class="icon icon--dark fas fa-code fa-fw"></i>

      <div class="media__body">
        <h3 class="media__heading">135</h3>
        <p class="media__description">Projects</p>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--stats">
      <i class="icon icon--dark fas fa-globe-asia fa-fw"></i>

      <div class="media__body">
        <h3 class="media__heading">50</h3>
        <p class="media__description">Countries</p>
      </div>
    </div>
    <!-- *** -->
    <div class="media media--stats">
      <i class="icon icon--dark far fa-money-bill-alt fa-fw"></i>

      <div class="media__body">
        <h3 class="media__heading">500</h3>
        <p class="media__description">Money</p>
      </div>
    </div>
    <!-- *** -->
  </div>
</section>
