<div class="grid grid--auto">
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-01.png" alt="" />
    </div>
  </div>
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-02.png" alt="" />
    </div>
  </div>
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-03.jpg" alt="" />
    </div>
  </div>
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-04.png" alt="" />
    </div>
  </div>
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-05.jpg" alt="" />
    </div>
  </div>
  <div class="gallery">
    <div class="gallery__img">
      <img src="images/gallery-06.png" alt="" />
    </div>
  </div>
</div>
