<div class="grid grid--1x2">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
</div>
<div style="margin-top: 100px" class="grid grid--auto">
  <div style="height: 100px; background: rgb(202, 187, 104)"></div>
  <div style="height: 100px; background: rgb(43, 82, 121)"></div>
  <div style="height: 100px; background: tomato"></div>
  <div style="height: 100px; background: black"></div>
  <div style="height: 100px; background: red"></div>
  <div style="height: 100px; background: green"></div>
  <div style="height: 100px; background: grey"></div>
  <div style="height: 100px; background: purple"></div>
</div>
