<i class="fas fa-long-arrow-alt-right"></i>

<!--  -->
<i class="icon fab fa-facebook-f"></i>
<i class="icon fab fa-twitter"></i>
<i class="icon fab fa-linkedin-in"></i>
<i class="icon fab fa-youtube"></i>

<!--  -->
<i class="icon icon--dark fas fa-random"></i>

<!--  -->

<i class="icon icon--dark far fa-user fa-fw fa-2x"></i>
<i class="icon icon--dark fas fa-code fa-fw fa-2x"></i>
<i class="icon icon--dark fas fa-globe-asia fa-fw fa-2x"></i>
<i class="icon icon--dark far fa-money-bill-alt fa-fw fa-2x"></i>

<!--  -->

<i class="icon icon--primary fas fa-map-marker-alt fa-fw"></i>
<i class="icon icon--primary far fa-clock fa-fw"></i>
<i class="icon icon--primary fas fa-phone-volume fa-fw"></i>

<!--  -->
<i class="filled fas fa-star"></i>
<i class="far fa-star"></i>

<!--  -->
<i class="icon fas fa-user-shield"></i>
<i class="icon fas fa-tools"></i>
<i class="icon fas fa-map-marked-alt"></i>
<i class="icon fas fa-laptop-code"></i>
<i class="icon fas fa-palette"></i>
<i class="icon fas fa-bullhorn"></i>

<!--  -->

<i class="far fa-comments fa-fw"></i>
<i class="far fa-user fa-fw"></i>
<i class="far fa-building fa-fw"></i>
<i class="far fa-check-circle fa-fw"></i>
<i class="far fa-clipboard fa-fw"></i>
<i class="far fa-calendar-alt fa-fw"></i>
<i class="fas fa-server fa-fw"></i>
<i class="far fa-play-circle fa-fw"></i>
<i class="far fa-chart-bar fa-fw"></i>
<i class="fas fa-percent fa-fw"></i>
