<ul class="list list--inline">
  <li class="list__item">Articles</li>
  <li class="list__item">Gallery</li>
  <li class="list__item">Features</li>
  <li class="list__item">Other Links</li>
</ul>
<br />
<ul class="list list--tick">
  <li class="list__item">10GB HDD Space</li>
  <li class="list__item">5 Email Addresses</li>
  <li class="list__item">2 Subdomains</li>
  <li class="list__item">4 Databases</li>
  <li class="list__item">Basic Support</li>
</ul>
<br />

<ul class="list list--icon">
  <li class="list__item"><a href="">Important Link 1</a></li>
  <li class="list__item"><a href="">Important Link 2</a></li>
  <li class="list__item"><a href=""> Important Link 3</a></li>
  <li class="list__item"><a href="">Important Link 4</a></li>
  <li class="list__item"><a href=""> Important Link 5</a></li>
</ul>
<br />

<ul class="list list--inline">
  <li class="list__item">Facebook</li>
  <li class="list__item">Twitter</li>
  <li class="list__item">YouTupe</li>
</ul>

<br />
<ul class="list list-block">
  <li class="list__item">How To Create Sub Domain <span>05:18 </span></li>
  <li class="list__item">Playing With The DNS <span>03:18 </span></li>
  <li class="list__item">
    Everything About The Virtual Hosts <span>05:25 </span>
  </li>
  <li class="list__item">How To Monitor Your Website <span>04:16 </span></li>
  <li class="list__item">
    Uncharted Beating The Last Boss <span>07:48 </span>
  </li>
  <li class="list__item">Ys Oath In Felghana Overview<span>03:12</span></li>
  <li class="list__item">Ys Series All Games Ending<span>08:10 </span></li>
</ul>
