<div style="width: 250px" class="media media--articles">
  <img src="images/cat-01.jpg" alt="" />
  <div class="media__body">
    <h3 class="media__heading">Test Title</h3>
    <p class="media__description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
    </p>
  </div>
  <div class="media__footer">
    <a href="#" class="link-arrow">Learn More</a>
  </div>
</div>
<br />
<br />
<!-- *************** -->

<div style="width: 500px" class="media media--flex">
  <img src="images/work-steps-1.png" alt="" />
  <div class="media__body">
    <h3 class="media__heading">Business Analysis</h3>
    <p class="media__description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt
      obcaecati quisquam quis laborum recusandae debitis vel
    </p>
  </div>
</div>
<br />
<br />
<!-- *************** -->
<div style="width: 300px" class="media media--stats">
  <i class="icon icon--dark far fa-user fa-fw fa-2x"></i>

  <div class="media__body">
    <h3 class="media__heading">135</h3>
    <p class="media__description">Clients</p>
  </div>
</div>
