<div class="grid grid--auto">
  <div class="services">
    <i class="icon fas fa-user-shield"></i>
    <h3 class="services__heading">Security</h3>
    <div class="services__info">
      <span>01</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
  <div class="services">
    <i class="icon fas fa-tools"></i>
    <h3 class="services__heading">Fixing Issues</h3>
    <div class="services__info">
      <span>02</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
  <div class="services">
    <i class="icon fas fa-map-marked-alt"></i>
    <h3 class="services__heading">Location</h3>
    <div class="services__info">
      <span>03</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
  <div class="services">
    <i class="icon fas fa-laptop-code"></i>
    <h3 class="services__heading">Coding</h3>
    <div class="services__info">
      <span>04</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
  <div class="services">
    <i class="icon fas fa-palette"></i>
    <h3 class="services__heading">Design</h3>
    <div class="services__info">
      <span>05</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
  <div class="services">
    <i class="icon fas fa-bullhorn"></i>
    <h3 class="services__heading">Marketing</h3>
    <div class="services__info">
      <span>06</span>
      <a href="#">Details</a>
    </div>
  </div>
  <!-- *** -->
</div>
