<div class="grid grid--auto">
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-01.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-02.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-03.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-04.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-05.png" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-06.png" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-07.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
  <div class="team">
    <div class="team__header">
      <img class="team__img" src="images/team-08.jpg" alt="" />
      <div class="team__icon-container">
        <a href="#" class="team__link">
          <i class="icon fab fa-facebook-f"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-twitter"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-linkedin-in"></i>
        </a>
        <a href="#" class="team__link">
          <i class="icon fab fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="team__body">
      <h3 class="team__heading">Name</h3>
      <p class="team__description">Simple Short Description</p>
    </div>
  </div>
  <!-- *** -->
</div>
