<div class="testimonial">
  <img src="images/avatar-01.png" alt="" />
  <h3 class="testimonial__heading">Mohamed Farag</h3>
  <span class="testimonial__job-title">Full Stack Developer </span>
  <div class="icon-rating">
    <i class="icon icon--gold filled fas fa-star"></i>
    <i class="icon icon--gold filled fas fa-star"></i>
    <i class="icon icon--gold filled fas fa-star"></i>
    <i class="icon icon--gold fas fa-star"></i>
    <i class="icon icon--dark far fa-star"></i>
  </div>
  <p class="testimonial__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
    reiciendis voluptatum, amet est natus quaerat ducimus
  </p>
</div>
<!-- *** -->
